.generator .form {
    display: flex;
}

.generator .col {
    margin-right: 20px;
}

.generator #count {
    width: 32px;
}

.generator .label {
    margin-right: 15px;
}

.generator .error-message {
    color: red;
    margin-top: 20px;
}